@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

header {
  width: 100%;
  background: #549c84;
  color: #fdcb46;
  font-family: "Montserrat", Arial, sans-serif;
  top: 0px;
  text-align: center;
}
header h1 {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

footer {
  width: 100%;
  background: #549c84;
  color: #fdcb46;
  font-family: "Montserrat", Arial, sans-serif;
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer h2 {
  margin: 20px;
  font-size: 1.2rem;
  font-weight: 400;
}
footer h2:hover {
  animation: wiggle 0.2s cubic-bezier(0.3, 1, 0.6, 0.8) 2;
}
@keyframes wiggle {
  25% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(-2%);
  }
}

.btn {
  width: 100%;
  background: #549c84;
  color: #fdcb46;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1.4rem;
  width: 260px;
  height: 45px;
  margin-bottom: 40px;
  border: none;
  border-radius: 8px;
}
.btn span {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  animation: bounce 0.5s ease-in infinite;
}
.btn span:nth-of-type(2) {
  animation-delay: 0.1s;
}
.btn span:nth-of-type(3) {
  animation-delay: 0.2s;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.note {
  background: #fcdfdb;
  color: #42181e;
}
.note .fas {
  color: #f74651;
  background: linear-gradient(45deg, #f74651, #fa9976);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
  font-size: 2.7rem;
  margin: 0;
}
.note h3 {
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0 0 10px;
  font-family: "Devonshire", cursive;
}
.note p {
  font-size: 2rem;
  margin: 10px 0;
  font-family: cursive;
  text-transform: uppercase;
  font-family: "Itim", cursive;
}

.chic {
  background: #fff5fe;
}
.chic h3 {
  color: #c77412;
  background: linear-gradient(45deg, #c77412, #6f2dfd);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0 0 10px;
  font-family: "Redressed", cursive;
}
.chic p {
  font-size: 2rem;
  margin: 10px 0;
  font-family: cursive;
  color: #c77412;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.delice {
  background: #f9f9f9;
}
.delice h3 {
  color: #0222c5;
  background: linear-gradient(70deg, #0222c5, #228bee);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0 0 10px;
  font-family: "Rochester", cursive;
  font-style: italic;
}
.delice p {
  font-size: 2rem;
  margin: 10px 0;
  font-family: cursive;
  color: #228bee;
  font-style: italic;
}

.palette {
  background: #fdfffd;
}
.palette h3 {
  color: #2e722a;
  background: linear-gradient(70deg, #2e722a, #bcff64);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0 0 10px;
  font-family: "Kaushan Script", cursive;
}
.palette p {
  font-size: 2rem;
  margin: 10px 0;
  font-family: cursive;
  color: #45aa3f;
  font-style: italic;
}

.menu {
  display: flex;
}
.menu__box {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  width: 300px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 2px #e5e3e2;
  margin: 40px;
  text-align: center;
  align-items: center;
  transition: all 0.4s ease;
}
.menu__box:hover {
  opacity: 0.6;
}
.menu__box:hover > .wrapper {
  transform: scale(1.5);
  opacity: 0.5;
}
.menu__box > .wrapper {
  display: inline-block;
  align-items: center;
}

.wrapper {
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;
  transition: all 0.4s ease;
}

/*# sourceMappingURL=style.css.map */
