.btn {
  @include footer-header;
  display: flex;
  font-size: 1.3rem;
  width: 260px;
  height: 45px;
  margin: 20px 0 150px;
  border: none;
  outline: none;
  border-radius: 8px;
  overflow: hidden;
  p {
    margin: auto 10px auto 10px;
  }
  .dots {
    display: flex;
    height: 60px;
    margin-bottom: 2px;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    line-height: 1rem;

    span {
      display: inline;
      margin: 0 2px;
      position: relative;
      opacity: 0;
      animation: blink 1.3s ease infinite both;
      &:nth-of-type(2) {
        animation-delay: 0.2s;
      }

      &:nth-of-type(3) {
        animation-delay: 0.4s;
      }
    }
  }
  @media screen and (max-width: 850px) {
    // font-size: 1em;
    margin-bottom: 100px;
    // width: 230px;
    // height: 35px;
    transform: scale(0.7);
  }
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}
