* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.top {
  margin-top: 30px;
  color: $color-title;
  @media (max-width: 550px) {
    font-size: 1rem;
  }
}

.menu {
  // div regroupant tous les menus
  display: flex;
  margin-top: 60px;
  width: 1500px;
  height: 500px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  @media screen and (max-width: 1600px) {
    width: 800px;
    height: 1000px;
  }
  @media screen and (max-width: 850px) {
    width: 300px;
    height: auto;
    justify-content: center;
    margin-top: 5px;
  }
  &__box {
    // vignette de menu
    // display: block;
    overflow: hidden;
    width: 300px;
    height: 450px;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 2px $color-shadow;
    text-align: center;
    align-items: center;
    transition: all 0.4s ease;

    &:hover {
      opacity: 0.6;
    }
    a {
      height: inherit;
      text-decoration: inherit;
      color: inherit;
    }
    @media screen and (max-width: 850px) {
      transform: scale(0.9);
    }
  }
}

.wrapper {
  // Partie cliquable de la vignette, contient le texte
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  transition: all 0.4s ease;
  height: inherit;
  &:hover {
    transform: scale(1.5);
    opacity: 0.5;
  }
}
