// Vignette Menu

.chic {
  @include menu-vignettes($chic-bg, $chic-color1, $chic-font1, $chic-font2);
  & h3 {
    @include gradient-text(45deg, $chic-color1, $chic-color3);
  }
  & p {
    font-weight: bold;
  }
  // Page Menu
  &__page {
    @include menu-pages($chic-bg, $chic-color1, $chic-font1, $chic-font2);
    & h3 {
      @include gradient-text(45deg, $chic-color1, $chic-color3);
      margin: 40px 0 70px;
      font-size: 3rem;
    }
    & h4 {
      font-weight: bold;
      font-size: 1.2rem;
      letter-spacing: 0.05rem;
      @include underline;
    }
    &__break {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    & .break {
      width: 245px;
      height: 100px;
      clip-path: polygon(
        0% 49%,
        62% 46%,
        73% 43%,
        76% 45%,
        80% 47%,
        83% 48%,
        87% 49%,
        90% 49%,
        86% 50%,
        82% 51%,
        79% 52%,
        76% 54%,
        73% 56%,
        63% 53%
      );
      background-color: currentColor;
      &--left {
        margin-right: auto;
      }
      &--right {
        margin-left: auto;
        transform: scale(-1, 1);
      }
    }
    & ul {
      font-size: 1.1rem;
      margin: 20px 70px;
      line-height: 0.7rem;
    }
    &--2 {
      color: $chic-color2;
    }
    &--3 {
      color: $chic-color3;
    }
  }
}
