.delice {
  // Vignette Menu
  @include menu-vignettes(
    $delice-bg,
    $delice-color2,
    $delice-font,
    $default-font
  );
  h3 {
    @include gradient-text(70deg, $delice-color1, $delice-color2);
    font-style: italic;
    // Page Menu
  }
  &__page {
    @include menu-pages($delice-bg, black, $delice-font, $default-font);
    h3 {
      @include gradient-text(45deg, $delice-color1, $delice-color2);
      margin: 20px 10px 40px;
      font-size: 4rem;
      font-style: italic;
    }
    h4 {
      font-size: 1.1rem;
      font-weight: normal;
      // margin: 45px 0 20px;
      @include underline;
    }
    .break {
      margin-top: 20px;
      clip-path: $delice-path;
      &--1 {
        background-color: $delice-color1;
      }
      &--2 {
        background-color: $delice-color3;
      }
      &--3 {
        background-color: $delice-color2;
      }
    }
    ul {
      font-size: 0.9rem;
      margin: 25px 80px 30px;
      line-height: 0.6rem;
    }
    span {
      font-size: 1.1rem;
    }
  }

  // Version tablette
  @media (max-width: 850px) {
    @include responsive-smaller;
    &__page {
      h3 {
        font-size: 3rem;
      }
    }
  }
  // Version mobile
  @media (max-width: 550px) {
    @include responsive-mobile;
    &__page {
      h3 {
        font-size: 2rem;
      }
    }
  }
}
