.note {
  // Vignette Menu
  @include menu-vignettes($note-bg, $note-color, $note-font, $default-font);
  .fas {
    @include gradient-text(45deg, $note-icon1, $note-icon2);
    font-size: 2.8rem;
    padding: 5px;
    margin: 0;
  }
  p {
    text-transform: uppercase;
    font-weight: bold;
  }

  // Page Menu
  &__page {
    @include menu-pages($note-bg, $note-color, $note-font, $default-font);
    .fas {
      @include gradient-text(45deg, $note-icon1, $note-icon2);
      font-size: 4rem;
      margin: 15px 0 5px;
      padding: 5px;
    }
    h3 {
      font-size: 3rem;
    }
    h4 {
      font-size: 1.5rem;
      margin: 0;
      @include underline;
    }
    .break {
      width: 200px;
      height: 90px;
      clip-path: $note-path;
      background-color: currentColor;
      &--left {
        margin-right: auto;
      }
      &--right {
        margin-left: auto;
        transform: scale(-1, 1);
      }
    }
    ul {
      font-size: 1rem;
      line-height: 0.7rem;
      margin: 20px 35px 40px;
    }
    span {
      font-weight: bold;
    }
    &__title--bottom {
      transform: scale(0.7);
      display: flex;
      align-items: baseline;
      justify-content: center;
      .fas {
        margin-right: 10px;
      }
    }
  }

  // Version tablette
  @media (max-width: 850px) {
    @include responsive-smaller;
    &__page {
      .fas {
        font-size: 3rem;
      }
      h3 {
        margin-top: 0;
      }
    }
  }

  // Version mobile
  @media (max-width: 550px) {
    @include responsive-mobile;
    &__page {
      .fas {
        font-size: 2.5rem;
        margin-bottom: 0;
      }
      h3 {
        margin-top: 5px;
      }
      &__title--bottom {
        .fas {
          margin-right: 10px;
        }
      }
    }
  }
}
