@mixin footer-header {
  width: 100%;
  background: $color-primary;
  color: $color-secondary;
  font-family: $primary-font;
}

@mixin gradient-text($angle, $color1, $color2) {
  color: $color1;
  background: linear-gradient($angle, $color1, $color2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
}

@mixin menu-vignettes($bg, $color, $font1, $font2) {
  background: $bg;
  color: $color;
  h3 {
    font-family: $font1;
    font-size: 1.8rem;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0 10px;
  }
  p {
    font-family: $font2;
    font-size: 2rem;
    margin: 10px 0;
  }
}

@mixin menu-pages($bg, $color, $font1, $font2) {
  background: $bg;
  color: $color;
  box-shadow: 0px 0px 20px 4px $color-shadow;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 780px;
  min-height: 1000px;
  margin: 10px 10px 100px 10px;
  section {
    width: 100%;
  }
  &__break {
    height: 40px;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .break {
    width: 240px;
    height: 150px;
    &--right {
      transform: scale(-1, 1);
    }
  }
  h3 {
    padding: 0 10px;
    margin: 0 0 35px;
    font-family: $font1;
    font-weight: normal;
  }
  h4 {
    font-family: $font2;
    font-weight: normal;
    margin: 45px 0 20px;
    font-size: 1rem;
  }
  ul {
    padding: 0;
    font-family: $font2;
  }
  li {
    list-style-type: none;
    display: flex;
    align-items: baseline;
  }
  span {
    margin-left: auto;
  }
}

@mixin responsive-smaller {
  &__page {
    box-shadow: 0px 0px 15px 4px $color-shadow;
    padding: 15px;
    width: 500px;
    min-height: 800px;
    margin: 10px 10px 100px 10px;
    h3 {
      font-size: 2rem;
      margin: 30px 0;
    }
    h4 {
      font-size: 1rem;
    }
    ul {
      padding: 0;
      font-size: 0.7rem;
      margin: 15px 15px 20px;
    }
    span {
      font-size: 0.8rem;
    }
    .break {
      width: 130px;
      height: 90px;
    }
  }
}

@mixin responsive-mobile {
  &__page {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 290px;
    height: auto;
    margin: 10px 5px 100px;
    h3 {
      font-size: 1.5rem;
      margin: 15px 0 20px;
    }
    h4 {
      font-size: 0.8rem;
    }
    ul {
      font-size: 0.7rem;
      margin: 15px 15px 20px;
      li {
        flex-direction: column;
        align-items: center;
      }
      p {
        line-height: 1rem;
      }
    }
    span {
      font-size: inherit;
      margin: 0 auto 15px;
    }
    &__break {
      margin: 0 0 20px;
    }
    .break {
      width: 60px;
      height: 60px;
    }
  }
}

@mixin underline {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  &:hover:before {
    visibility: visible;
    width: 100%;
  }
}
