// Couleurs principales

$color-primary: #549c84;
$color-secondary: #fdcb46;
$color-shadow: #e5e3e2;

// Menu La Note Enchantée

$note-bg: #fcdfdb;

// Menu Le Chic à la française

$chic-bg: #fff5fe;

// Menu Le délice des papilles

$delice-bg: #f9f9f9;

// Menu La palette du goût

$palette-bg: #fdfffd;
