// Couleurs principales

$color-primary: #549c84;
$color-secondary: #fdcb46;
$color-shadow: #e5e3e2;
$color-title: #353535;

// Menu La Note Enchantée

$note-bg: #fcdfdb;
$note-color: #42181e;
$note-icon1: #f74651;
$note-icon2: #fa9976;

// Menu Le Chic à la française

$chic-bg: #fff5fe;
$chic-color1: #d8801b;
$chic-color2: #a56799;
$chic-color3: #783aff;

// Menu Le délice des papilles

$delice-bg: #f8f8f8;
$delice-color1: #0222c5;
$delice-color2: #228bee;
$delice-color3: #1b67da;

// Menu La palette du goût

$palette-bg: #fdfffd;
$palette-color1: #2e722a;
$palette-color2: #bcff64;

// Typographie

$primary-font: "Montserrat", Arial, sans-serif;

$default-font: "Merienda", Verdana, sans-serif;

$note-font: "Devonshire", cursive;

$chic-font1: "Redressed", cursive;
$chic-font2: "Times New Roman", Times, serif;

$delice-font: "Rochester", cursive;

$palette-font: "Kaushan Script", cursive;
