// Couleurs principales

$color-primary: #549c84;
$color-secondary: #fdcb46;
$color-shadow: #e5e3e2;

// Menu La Note Enchantée

$note-bg: #fcdfdb;
$note-menu: #42181e;
$note-icon1: #f74651;
$note-icon2: #fa9976;

// Menu Le Chic à la française

$chic-bg: #fff5fe;
$chic-menu1: #c77412;
$chic-menu2: #6f2dfd;

// Menu Le délice des papilles

$delice-bg: #f9f9f9;
$delice-menu1: #0222c5;
$delice-menu2: #228bee;

// Menu La palette du goût

$palette-bg: #fdfffd;
$palette-menu1: #2e722a;
$palette-menu2: #bcff64;
