body > footer {
  @include footer-header;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  a {
    color: inherit;
    text-decoration: inherit;
    margin: 20px;
    font-size: 1.2rem;

    &:hover {
      animation: wiggle 0.2s cubic-bezier(0.3, 1, 0.6, 0.8) 3;
    }

    @keyframes wiggle {
      25% {
        transform: rotate(-4deg);
      }

      75% {
        transform: rotate(4deg);
      }
    }
  }
  // Version tablette
  @media (max-width: 850px) {
    a {
      font-size: 0.9rem;
    }
  }
  // Version mobile
  @media (max-width: 550px) {
    flex-direction: column;
    align-items: center;
    a {
      margin: 10px;
      font-size: 0.8rem;
    }
  }
}
